/* daftar istilah */
body {
  font-family: Arial, sans-serif;
}

.container {
  max-width: 800px;
  margin: 20px auto;
}

.container table {
  width: 1000px;
  border-collapse: collapse;
  margin-top: 20px;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.container table, th, td {
  border: 1px solid #000;
}

.container th, td {
  padding: 10px;
  text-align: left;
}

.container th {
  background-color: #f2f2f2;
  text-align: center;
}

.container button {
  cursor: pointer;
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.pagination a {
  padding: 8px 12px;
  margin: 0 5px;
  text-decoration: none;
  color: #333;
  border: 1px solid #ddd;
  border-radius: 4px;
  cursor: pointer;
}

.pagination a:hover {
  background-color: #ddd;
}

.pagination a.active {
  background-color: #4CAF50;
  color: white;
  border: 1px solid #4CAF50;
}

/* soal */
body.soal-table {
  font-family: Arial, sans-serif;
  margin: 20px;
}

.soal-table {
  width: 100%;
  border-spacing: 0; /* Menghapus jarak antar sel */
}

.nomor-soal {
  font-weight: bold;
  font-size: 16px;
}

.pertanyaan {
  font-weight: bold;
  margin-bottom: 10px;
}

.pilihan {
  margin-bottom: 5px;
}
